{
  region : {
    replica_info : { id:13, ip:"127.0.0.1", port: 10013, },
    replica_info : { id:14, ip:"127.0.0.1", port: 10014, },
    replica_info : { id:15, ip:"127.0.0.1", port: 10015, },
    replica_info : { id:16, ip:"127.0.0.1", port: 10016, },
    region_id: 4,
  },
  self_region_id:4,
  leveldb_info : {
    write_buffer_size_mb:128,
    write_batch_size:1,
    enable_block_cache: true,
    block_cache_capacity: 100
  },
  require_txn_validation:true,
  enable_viewchange:false,
  enable_resview:true,
  enable_faulty_switch:false
}
