{
  region : {
    replica_info : { id:1,  ip:"127.0.0.1", port: 10001, },
    replica_info : { id:2,  ip:"127.0.0.1", port: 10002, },
    replica_info : { id:3,  ip:"127.0.0.1", port: 10003, },
    replica_info : { id:4,  ip:"127.0.0.1", port: 10004, },
    replica_info : { id:5,  ip:"127.0.0.1", port: 10005, },
    replica_info : { id:6,  ip:"127.0.0.1", port: 10006, },
    replica_info : { id:7,  ip:"127.0.0.1", port: 10007, },
    replica_info : { id:8,  ip:"127.0.0.1", port: 10008, },
    replica_info : { id:9,  ip:"127.0.0.1", port: 10009, },
    replica_info : { id:10, ip:"127.0.0.1", port: 10010, },
    replica_info : { id:11, ip:"127.0.0.1", port: 10011, },
    replica_info : { id:12, ip:"127.0.0.1", port: 10012, },
    replica_info : { id:13, ip:"127.0.0.1", port: 10013, },
    replica_info : { id:14, ip:"127.0.0.1", port: 10014, },
    replica_info : { id:15, ip:"127.0.0.1", port: 10015, },
    replica_info : { id:16, ip:"127.0.0.1", port: 10016, },
    region_id: 1,
  },
  self_region_id:1,
  leveldb_info : {
    write_buffer_size_mb:128,
    write_batch_size:1,
    enable_block_cache: true,
    block_cache_capacity: 100
  },
  require_txn_validation:true,
  enable_viewchange:false,
  enable_resview:true,
  enable_faulty_switch:false
}
