{
  region : {
    replica_info : { id:9,  ip:"127.0.0.1", port: 10009, },
    replica_info : { id:10, ip:"127.0.0.1", port: 10010, },
    replica_info : { id:11, ip:"127.0.0.1", port: 10011, },
    replica_info : { id:12, ip:"127.0.0.1", port: 10012, },
    region_id: 3,
  },
  self_region_id:3,
  leveldb_info : {
    write_buffer_size_mb:128,
    write_batch_size:1,
    enable_block_cache: true,
    block_cache_capacity: 100
  },
  require_txn_validation:true,
  enable_viewchange:false,
  enable_resview:true,
  enable_faulty_switch:false
}
